body{
    background-color:lightgrey;
    display: flex;
    justify-content: center;
    align-content: center;
}


.white_box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:100px;
    margin-left: 100px;
    height: 600px;
    width: 600px;
    color: rgb(75, 75, 75);
    font-size: 30px;
   
}

div {
    margin-top:50px;
    margin-left: 100px;
}
input{
    display: block;
    width: 400px;
    height: 50px;
}

label{
    font-size: 15px;
font-weight: bold;
font-family: 'Times New Roman';
color: rgb(75, 75, 75);
}
input[type=submit]{
    width:150px;
    background-color: rgb(54, 60, 66);
    border-radius: 40px;
    height:60px;
    color:white;
    font-size: 20px;
    font-family: 'Arial';
}

input[type=password]{
    background: url("./pic/pw.png") no-repeat;
    background-size: 8%;
    opacity: 0.5;
    background-position: right;
    font-size: 30px;
}
input[type=username]{
    font-size: 30px;
}