.rainbow {
    height:150px;
    width: 700px;
    display: flex;
    flex-direction: row;
}

#color1{
    flex-grow: 1;
    background-color:rgb(15, 218, 15);
    height:150px;

}
#color2{
    flex-grow: 1;
    background-color:rgb(253, 197, 92);
    height:150px;

}
#color3{
    flex-grow: 1;
    background-color:rgb(240, 62, 240);
    height:150px;

}

@media screen and (max-width:700px){
    .rainbow{
    flex-direction: column;
    height: 450px;
    }
}