body{
    background-color:lightgrey;
    display: flex;
    justify-content: center;
    align-content: center;
}


.box{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 600px;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 20px 20px 4px 3px rgba(65,71,181,0.92);
}

form{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: left;
}

select{
    width: 250px;
    padding:5px;
    margin-top: 15px;
    margin-right: 4px;
    border-radius: 8px;
    height: 60px;
    justify-content: space-between;
    border: none;
}

p{
    font-size: 20px;
    font-weight: normal;
    margin-left: 50px;
}
div{
    font-weight: bold;
    margin-left: 50px;
}

.title{
    display:flex;
    flex-direction: row;
    
}